<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Jumbotron Mockup</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/stylesheets/index.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <style>
      #about {
        background-color: blue;
      }
      #contact {
        background-color: red;
      }
      .section {
        margin-top: 50px;
        padding-top: 25px;
      }


    </style>


  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Admin Dashboard</a> -->
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/ca.svg" style="width:25px;" class="w3-right w3-margin w3-hide-large w3-hover-opacity"></a></li>
            <!-- <img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/ca.svg" alt="" style="width:100%" class="w3-hover-opacity"> -->
            <!-- <a href="#"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/ca.svg" style="width:65px;" class="w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->

            <li><a href="#about" style="width:65px">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
            <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" class="glyphicon glyphicon-search" aria-hidden="true"> placeholder="Search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            -->
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form role="search" style="width: 15em; margin: 0.3em 2em;">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                </form>
              </li>
              <li><a href="#signUp">Sign Up</a></li>
              <li><a href="#login">Login</a></li>
            </ul>



        </div>
      </div>
    </nav>

    <div class="container-fluid section">
      <div class="row">

        <div class="row">
          <div class="col-md-8 text-center">
            <img src="" class="img-circle img-responsive center-block">
            <span>"<"Post Title">"</span>
          </div>
          <div class="col-md-4 text-center">
            <img src="" class="img-circle img-responsive center-block">
            <span>Text</span>
          </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="" class="img-circle img-responsive center-block">
              <span>"<"Post Title">"</span>
            </div>
            <div class="col-md-4 text-center">
              <img src="" class="img-circle img-responsive center-block">
              <span>Murray</span>
            </div>
            <div class="col-md-4 text-center">
              <img src="" class="img-circle img-responsive center-block">
              <span>Murray</span>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <h2>Preprocessors</h2>
              <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, Less and Sass. Quickly get started with precompiled CSS or build on the source.</p>
              <p><a class="btn btn-primary" href="#" role="button">See Moar!</a></p>
            </div>
            <div class="col-md-4">
              <h2>Preprocessors</h2>
              <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, Less and Sass. Quickly get started with precompiled CSS or build on the source.</p>
              <p><a class="btn btn-primary" href="#" role="button">See Moar!</a></p>
            </div>
            <div class="col-md-4">
              <h2>Preprocessors</h2>
              <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, Less and Sass. Quickly get started with precompiled CSS or build on the source.</p>
              <p><a class="btn btn-primary" href="#" role="button">See Moar!</a></p>
            </div>
          </div>

        </div>

      </div>
    </div>


      <div class="container-fluid section">

        <div class="row text-center">
          <h1>More Articles</h1>
        </div>

        <div class="row text-center" class="-right">
            <ul>
              <div class="glyphicon glyphicon-envelope" style="font-size: 35px; color: teal;"></div>

                <a href="[full link to your Facebook page]">
                <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook.png" width="35" height="35" />
                </a>
                <a href="[full link to your Twitter]">
                <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter.png" width="35" height="35" />
                </a>
                <a href="[full link to your Pinterest]">
                <img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/pinterest.png" width="35" height="35" />
                </a>

                <!-- <a href="mailto:[email address]">
                <img title="Email" alt="Email" src="https://socialmediawidgets.files.wordpress.com/2014/03/email.png" width="35" height="35" />
                </a> -->
                <!-- <a href="[full link to your RSS feed]">
                <img title="RSS" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/rss.png" width="35" height="35" />
                </a> -->
            </ul>
        </div>


      </div>

      <h2>Style Social Media Buttons</h2>

<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a>
<a href="#" class="fa fa-android"></a>
<a href="#" class="fa fa-dribbble"></a>
<a href="#" class="fa fa-vimeo"></a>
<a href="#" class="fa fa-tumblr"></a>
<a href="#" class="fa fa-vine"></a>
<a href="#" class="fa fa-foursquare"></a>
<a href="#" class="fa fa-stumbleupon"></a>
<a href="#" class="fa fa-flickr"></a>
<a href="#" class="fa fa-yahoo"></a>
<a href="#" class="fa fa-reddit"></a>
<a href="#" class="fa fa-rss"></a>


    </div>
  </body>
</html>
